@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-dark-900 text-slate-100 min-h-screen antialiased;
}

a {
  @apply text-primary-500 underline underline-offset-4;
}

button:disabled {
  @apply opacity-60 cursor-not-allowed;
}
